.el-container {
  height: 100%;
}
.el-header {
  background-color: #333744;
  color: #fff;
}
.el-aside {
  background-color: #333744;
  color: #fff;
}
.el-main {
  background-color: #e9eef3;
  color: #333;
}
